*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: "poppins",sans-serif;
}

div{position: relative;}

input{
    padding: 10px;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(112, 164, 189);
    color: rgb(79, 156, 192);
}

p{position: absolute;
 top: 12px;
left: 10px;
color: rgb(112, 164, 189);
transition: .4s;}

input:focus~p{
    top: -8px;
    background-color: rgb(252, 250, 249);
    padding: 2px;
    font-size: 14px;

}